* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html {
  font-size:12px;
  text-align: center;
}
body {
  color:#222;
}
a,
a:visited {
  text-decoration: none;
  color:#222;
}
::selection {
  background-color: #ff5252;
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
